@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Document styles */
:root{
--rich-black-fogra-29: #0d1f2dff;
--dark-electric-blue: #546a7bff;
--manatee: #9ea3b0ff;
--coyote-brown: #7f6041ff;
--desert-sand: #e4c3adff;
}

.mainContent{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Navbar styles */
.websiteTitle{
  font-size: 4.5vw;
  font-family: 'Lobster', cursive;}

/* Homepage Styles */
.lostEquipmentContent{
  background-image: url(./assets/pics/microphone.jpg);
}

/* Saved Equipment Styling */
.savedEquipmentContent{
  background-image: url(./assets/pics/amp\ knobs.jpg);
}
/* Add Equipment Styling */
.editEquipmentContent{
  background-image: url(./assets/pics/guitars.jpg);
}
/*Sign Up and Log In Modal styles*/
.loginSignupBtn{
  margin: 10px 0;
}
